<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-logo">

            <img src="img/logo.jpg " class="rounded-circle">
            <h4 class="footer-logo-heading display-5">IATSAT</h4>

          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul class="text-center">
              <li><i class="icofont-arrow-right"></i><a href="/">Home</a></li>
              <li><i class="icofont-arrow-right"></i><a href="/about">About us</a></li>
              <li><i class="icofont-arrow-right"></i><a href="/olympiad">Olympiad</a></li>
              <li><i class="icofont-arrow-right"></i><a href="/global">Global</a></li>
            </ul>
          </div>



          <div class="col-lg-4 col-md-12 footer-contact">
            <h4>Contact Us</h4>
            <p class="lead">Australia <br>
              533 Little Lonsdale Street,<br>
              Melbourne, VIC 3000</p>



          <strong>Email : </strong> <p class="lead">pr.iatsat@gmail.com</p>


          </div>




        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>IATSAT Global Pvt. Ltd.</strong>. All Rights Reserved  2021
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
