<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="/"
          ><img src="img/logo.jpg" alt="" class="img-fluid"
        /></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>

          <!-- <li><a class="nav-link scrollto" href="/olympiad">Olympiad</a></li> -->
          <li class="nav-link scrollto"><a href="/global"><span>Global Assesment</span></a> </li>
          <li class="nav-link scrollto"><a href="/olympiad"><span>Olympiad</span></a> </li>
          
          <li class="nav-link scrollto"><a href="/"><span>LMS</span></a> </li>
          <li class="nav-link scrollto"><a href="/"><span>Virtual University</span></a> </li>
          <li class="nav-link scrollto"><a href="/mission"><span>Mission 2035</span></a> </li>


          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li class="padd dropdown"><a class="nav-link special-l " href="/login">Login <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link " href="/login">Student</a></li>
              <li><a class="nav-link " href="#">Institute</a></li>
              <li><a class="nav-link " href="#">V-University</a></li>

            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="/testpage">Demo Olympiad</a></li> -->
          <li class="dropdown"><a href="#" class="nav-link special-r"><span">Register</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="nav-link " href="/studentregistration">Individual Registration</a></li>
            <li><a class="nav-link " href="/schoolregistration">School Registration</a></li>
          </ul>
        </li>

          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
