<section class="instruction">
  <div class="section-title">
    <h2 class="display-5" style="color: black;">Instructions</h2>
  </div>
  <div class="d-lg-flex justify-content-between">
    <span>DURATION- 90 MINUTES​</span>
    <span>TOTAL MARKS - 150</span>
  </div>
  <h2 class="fs-2 display-5" style="color: black;">GENERAL INSTRUCTION</h2> 
  <ul class="text-center">
    <li>
      
      <i class="bi bi-caret-right-fill"></i> The Question Paper consists of <span class="fw-bold">150 questions</span class="fw-bold"> and <span class="fw-bold">all questions are compulsory.</span class="fw-bold">
    </li>
    <li>
      <i class="bi bi-caret-right-fill"></i> The paper consists of 5 sections. <span class="fw-bold">English, Math, Science, Reasoning, GK.</span class="fw-bold">
    </li>
    <li>
      <i class="bi bi-caret-right-fill"></i> All the students have to keep their <span class="fw-bold">cameras on.</span class="fw-bold">
    </li>
  </ul>
  <div class="row" style="border-bottom: 2px grey solid;"></div>
</section>