<%- include('partials/default.ejs') -%>
<link rel="stylesheet" href="css/devs.css">
</head>
<body>
  <%- include('partials/header.ejs') -%>
    <!-- ======= Hero Section ======= -->

    <section id="dev-page" class="dev-page">
      <div class="container">
        <h1 class="display-5">Developers behind this website</h1>
        <div class="row">
          <div class="col-lg-6">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
                  <img src="img/devs/backg.jpg" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="img/devs/Ashish.jpg" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content-l">
                    <h2>Ashish Mishra<small>Full Stack Developer</small></h3>
                    <div class="icon-block"><a target="_blank_" href="https://www.linkedin.com/in/ashish--mishra/"><i class="bi bi-linkedin"></i> </a><a target="_blank_" href="https://github.com/Ashking009"><i class="bi bi-github"></i></a> </div>
                    </div>
                </div>
                <!-- <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p> -->
    		</div>
        <div class="col-lg-6">
          <div class="card profile-card-3">
              <div class="background-block">
                  <img src="img/devs/backg.jpg" alt="profile-sample1" class="background"/>
              </div>
              <div class="profile-thumb-block">
                  <img src="img/devs/Chirantan.jpg" alt="profile-image" class="profile"/>
              </div>
              <div class="card-content-r">
                  <h2>Chirantan Datta<small>Full Stack Developer</small></h3>
                    <div class="icon-block"><a target="_blank_" href="https://www.linkedin.com/in/chirantan-datta-9606b81b5"><i class="bi bi-linkedin"></i> </a><a target="_blank_" href="https://github.com/chirantandatta"><i class="bi bi-github"></i></a> </div>
                  </div>
              </div>
              <!-- <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p> -->
      </div>
        </div>
      </div>
    </section><!-- End Hero -->



    <%- include('partials/footer.ejs') -%>
  </body>
  </html>
