<%- include('partials/default.ejs') -%>
    <link rel="stylesheet" href="css/global.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs') -%>
    <!-- End Header -->

    <main id="main">
      <section id="global-assesment" class="global-assesment">
        <div class="back-i d-lg-flex ">
          <div class=" banner d-flex flex-column ">
              <h2 class="display-5 fw-normal">Global Assesment</h2>
              <p class="lead col-accent"><span class="points"> Study in your dream University</p>
            </div>
      </div>
        </section>
        <section id="statement">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 fw-1" data-aos="zoom-in">
                <div class="content  pt-4 pt-lg-0 pl-0 pl-lg-3">
                  <!-- <h2 class="text-center">Mission</h2> -->
                  <p class="lead cursive-font fs-3">
                    "IATSAT global is developed through careful research and analysis to cater to students who are looking to study abroad. Our tests are aimed at an international audience and not associated with any particular education system thus, all candidates stand an equal chance. Personal Interview will also be conducted to evaluate the potential of the candidate."
                  </p>
                  <!-- <p class="fw-bold">
                    “Turn your dream into reality. Your success is our mission“
                  </p> -->
                  <!-- <a href="#about" class="btn-get-started">Register Now</a> -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="problems" class="bg-blue">
          <div class="container">  
            <div class="row pt-lg-3">
              <p class="pt-3 display-5 fs-1 fc-light cursive-font text-center">
                The Higher education system across the globe is neither at right pace nor right place.<br>
              </p>
              <div class="col-lg-6" data-aos="zoom-in">
                <div class="pb-5 styled-li">
                  
                  <h2 class=" display-5  mt-2 fc-light">Major Problems</h2>
                  <ul class="">
                  
                      <li class="pb-3 lead fc-light">
                        <i class="bi bi-caret-right-fill"></i>Universities are facing problems through their channel partners.
                      </li>
                    
                  
                      <li class="pb-3 lead fc-light">
                        <i class="bi bi-caret-right-fill"></i>The lack of mentorship financial hardship and academic issues.
                      </li>
                    
                  
                      <li class="pb-3 lead fc-light">
                        <i class="bi bi-caret-right-fill"></i>The dropout is increasing day by day.
                      </li>
                    
                  
                    
                        <li class="pb-3 lead fc-light">
                          <i class="bi bi-caret-right-fill"></i>Leads to the skill shortage across the globe.
                        </li>
                      
                    
                      
                          <li class="pb-3 lead fc-light">
                            <i class="bi bi-caret-right-fill"></i>This is affecting the world economy indirectly.
                          </li>
                        
                      
                  </ul>
                </div>
  
              </div>
              <div class="image col-lg-6">
                <img src="img/problems.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </section>
         

          <section class="pb-lg-5 philanthropy">
            <!-- <img src="/img/philan.jpg" alt=""> -->
            <div class="container">
            <div class="row">
            <span class="text-center display-5 fs-1 pt-3 pb-3 col-accent cursive-font">

              After many years of research IATSAT finally came into existence.
            </span>
            <div class="col-lg-3" data-aos="fade-right">
              <!-- <div class="image">
                <img src="img/achievement1.png" class="img-fluid" alt="" />
              </div> -->
            </div>
            <div class="col-lg-9 " data-aos="zoom-in">
              <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3">
                <!-- <h2 class="text-center">Mission</h2> -->

                <p class="lead">
                  IATSAT is an assessment test conducted by “One Alphabet  Educational Society’’ India & Australia in association with various Universities across the globe to provide a platform for intellectual and creative students who are willing to pursue their higher education overseas. IATSAT is developed through years of research & analysis of industry professional specially catering to the students looking for an education outside their home country.
Since IATSAT Exam is fully recorded ,the surveillance video will be provided to the Universities or Colleges which will help in selection processof the best candidate,personal interview will also be conducted to evaluate the potential of the candidate.

                </p>
                <!-- <a href="#about" class="btn-get-started">Register Now</a> -->
              </div>
            </div>
          </div>
          </div>
          </section>

          <section class="test-format">
            <div class="container">
              <div class="row pb-lg-5">

                <div class="col-lg-6 pt-5" data-aos="zoom-in">
                  <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3">
                    <h2 class="text-center  display-5 ">About the exam</h2>
                    <p class="lead text-center fc-light">
                      To ensure that IATSAT becomes the standard across the International lines,<br> we have added several advantages for students appearing in the IATSAT Exam.
                    </p>
    
    
                  </div>
                </div>
                
              <!-- </div> -->
           
          
        <!-- <div class="row pb-lg-5 styled-bi"> -->
          <div class="col-lg-6 pt-5" data-aos="zoom-in">
            
              <h2 class="text-center display-5 ">Test Format</h2>
              <!-- <ul class="text-center"> -->
                <div class="row">
                <div class="col-lg-6">
                  <p class="pb-2 lead fc-light">
                    <i class="bi bi-megaphone-fill"></i> Listening Skills
                  </p>
                </div>
                <div class="col-lg-6">
                  <p class="pb-2 lead fc-light">
                    <i class="bi bi-dice-5-fill"></i> Numeric
                  </p>
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-6">
                  <p class="pb-2 lead fc-light">
                    <i class="bi bi-vector-pen"></i> Verbal Ability
                  </p>
                </div>
                <div class="col-lg-6">
                    <p class="pb-2 lead fc-light">
                      <i class="bi bi-question-circle-fill"></i> General Knowledge.
                    </p>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                    <p class="pb-2 lead fc-light">
                      <i class="bi bi-hourglass-split"></i> Life Skills
                    </p>
                  </div>
                  </div>

              <!-- </ul> -->
            
          </div>
        </div>
      </div>
    </section>
    <section class="endtoendexams">
      <div class="section-title">
        <h1 class="display-5"> End to End Exams</h2>
      </div>
      <div class="container">
        <div class="row pb-lg-3 ">
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 1) Pre mentorship</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 2) IATSAT global exam</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 3) IATSAT global exam results</p>
          </div>

        </div>

        <div class="row pb-lg-3">
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 4) Personal Interviews by university</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 5) Confirmation letter from universities</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 6) Visa</p>
          </div>

        </div>

        <div class="row pb-lg-5">
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 7) Upto 50% scholarship by IATSAT global</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 8) Admission in your dream university</p>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-right">
            <p class="lead"> 9) Post mentorship</p>
          </div>

        </div>
      </div>
    </section>

          



      <section class="eligibility">
        <div class="container">
          <div class="row pb-lg-5 styled-li">
            <h2 class="text-center display-5 pt-5 fc-light">Eligibility Criteria</h2>
            <div class="col-lg-12" data-aos="zoom-in">
              <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3">
                
                <ul >
                
                    <li class="pb-3 lead fc-light">
                      <i class="bi bi-caret-right-fill"></i>Diploma, 10+2(senior secondary) with aggregated, marks of 60%.
                    </li>
                  
                
                   <li class="pb-3 lead fc-light">
                      <i class="bi bi-caret-right-fill"></i>For Masters, graduation with aggregate of 60% with a recognized college or University.
                    </li>
                  
                
                   <li class="pb-3 lead fc-light">
                      <i class="bi bi-caret-right-fill"></i>Sabbatical of one year is accepted.
                    </li>
                  

                  
                     <li class="pb-3 lead fc-light">
                        <i class="bi bi-caret-right-fill"></i>Medical students will not be eligible to appear in scholarship programme this year.
                      </li>
                    

                    
                       <li class="pb-3 lead fc-light">
                          <i class="bi bi-caret-right-fill "></i>Students will be permitted (for IATSAT exam)up to twoattempts only .
                        </li>
                      


                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
          

          <section id="lev" class="lev">
            <div class="container">
              <!-- <div class="position-relative parent-a overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"  style="background: url(img/whyus.jpg) center center;">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                  <h2 class="display-4 ">WHY IATSAT?</h2>
                  <p class="lead fw-normal ">IATSAT is 100 % academic and can be given from anywhere in the world through our authorized channel partner.
                    It is fully computerized & you can get your result within a week.</p>
                  
                </div>
                
              </div> -->


            <ul class="lev-list pt-3">
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#lev0">WHY IATSAT?<i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev0" class="collapse" data-bs-parent=".lev-list">
                  <p>
                    IATSAT is 100 % academic and can be given from anywhere in the world through our authorized channel partner.
                    It is fully computerized & you can get your result within a week.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#lev1">Who Accept IATSAT Test?<i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev1" class="collapse" data-bs-parent=".lev-list">
                  <p>
                    Universities across the globe are accepting the IATSAT Test as their entrance test & we are continuously adding more academic partners.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#lev2" class="collapsed question">Declaration Of IATSAT Score <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev2" class="collapse" data-bs-parent=".lev-list">
                  <p>
                    <ul>
                      <li class=" lead">
                        95% from IATSAT Exam
                      </li>
                      <li class=" lead">
                        5% from their academic performance.
                      </li>
                    </ul>
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#lev3" class="collapsed question">Test Center & Fee<i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev3" class="collapse" data-bs-parent=".lev-list">
                  <p>
                    The fee for the test will be INR 10,000.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#lev4" class="collapsed question"> Preparation <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev4" class="collapse" data-bs-parent=".lev-list">
                  <p class="lead  pt-3 ps-3 pe-3">IATSAT Exam-Medium of answering the questions will be English. </p>
                    <p class=" lead  pt-1 ps-3 pe-3"> There are online resources available for test preparation.</p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#lev5" class="collapsed question"> On Test Day<i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev5" class="collapse" data-bs-parent=".lev-list">
                  <p class=" lead  pt-1 ps-3 pe-3"> This Id should be the same Id which has been uploaded during the registration process.</p>
                <p class=" lead  pt-1 ps-3 pe-3"> Available Resources for test: Once you register on portal you will get two practice tests.</p>
                <p class=" lead  pt-1 ps-3 pe-3"> For Universities/Colleges: Universities &Colleges can access the test Result directly from the IATSAT website.</p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#lev6" class="collapsed question"> How we ensure the quality of test <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                <div id="lev6" class="collapse" data-bs-parent=".lev-list">
                  <p class=" lead  pt-1 ps-3 pe-3"> Technical Advisory Groups from industry & education institutions, comprising experts from the entire domain, also provides feedback; advice and critical assessment. We also conduct the various independent researches on time to time.</p>
               <p class=" lead  pt-1 ps-3 pe-3"> Every year we are preparing more the 25, 000,00 questions for the exam which further reviewed and then provided to the technical team.</p>
                </div>
              </li>

            </ul>
            </div>
          </section>

          <!-- <div class="position-relative parent-a overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"  style="background: url(img/whyus.jpg) center center;">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <h2 class="display-4 ">WHY IATSAT?</h2>
              <p class="lead fw-normal ">IATSAT is 100 % academic and can be given from anywhere in the world through our authorized channel partner.
                It is fully computerized & you can get your result within a week.</p>
              
            </div>
            
          </div> -->

          <!-- <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light-accent me-md-3  px-lg-3 pt-md-3  text-center text-white overflow-hidden pb-3 mb-3">
              <div class="my-3 py-3">
                <h2 class="display-5 fc-light">Who Accept IATSAT Test?</h2>

              </div>
              <div class="bg-light shadow-sm mx-auto my-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p class="lead pt-3 ps-3 pe-3 mx-auto">Universities across the globe are accepting the IATSAT Test as their entrance test & we are continuously adding more academic partners.</p></div>
            </div>
            <div class="bg-light-red me-md-3 pt-lg-3  pt-md-5 px-md-5 text-center overflow-hidden pb-3 mb-3">
              <div class="my-3 p-3">
                <h2 class="display-5 fc-light">Declaration Of IATSAT Score </h2>

              </div>
              <div class="bg-light shadow-sm mx-auto my-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p class="lead  pt-3 ps-3 pe-3">We declare the result on the basis of performance of the candidate which includes: </p>
                <ul>
                  <li class=" lead">
                    95% from IATSAT Exam
                  </li>
                  <li class=" lead">
                    5% from their academic performance.
                  </li>
                </ul>


                </div>
            </div>
          </div>

          <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3 ">
            <div class="bg-light-red me-md-3 pt-3  px-3 pt-md-5 px-md-5 text-center overflow-hidden pb-3 mb-3">
              <div class="my-3 p-3">
                <h2 class="display-5 fc-light">Test Center & Fee</h2>

              </div>
              <div class=" bg-light shadow-sm mx-auto " style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">  <p class="lead  pt-3 ps-3 pe-3">We are partnering across the globe for exam Centre.</p>
               <p class=" lead  pt-1 ps-3 pe-3"> The fee for the test will be INR 10,000.</p></div>
            </div>
            <div class="bg-light-accent me-md-3 pt-3  pt-md-5 px-md-5 text-center text-white overflow-hidden pb-3 mb-3">
              <div class="my-3 py-3">
                <h2 class="display-5 fc-light">Preparation</h2>
               
              </div>
              <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p class="lead  pt-3 ps-3 pe-3">IATSAT Exam-Medium of answering the questions will be English. </p>
                <p class=" lead  pt-1 ps-3 pe-3"> There are online resources available for test preparation.</p></div>
            </div>
          </div>

          <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light-red me-md-3 pt-1 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden pb-3 mb-3">
              <div class="my-3 py-3">
                <h2 class="display-5 fc-light">On Test Day</h2>
                
              </div>
              <div class="bg-light shadow-sm mx-auto" style="width: 80%; max-height: max-content; border-radius: 21px 21px 0 0;"><p class="lead pt-3 ps-3 pe-3">You need to bring the valid Id proof to enter the exam room.  </p>
                <p class=" lead  pt-1 ps-3 pe-3"> This Id should be the same Id which has been uploaded during the registration process.</p>
                <p class=" lead  pt-1 ps-3 pe-3"> Available Resources for test: Once you register on portal you will get two practice tests.</p>
                <p class=" lead  pt-1 ps-3 pe-3"> For Universities/Colleges: Universities &Colleges can access the test Result directly from the IATSAT website.</p>
              </div>
            </div>

          </div>

          <div class="d-lg-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light-accent me-md-3 pt-3  px-3 pt-md-5 px-md-5 text-center overflow-hidden pb-3 mb-3">
              <div class="my-3 p-3">
                <h2 class="display-5 fc-light">How we ensure the quality of test</h2>

              </div>
              <div class="bg-light shadow-sm mx-auto " style="width: 80%; max-height: max-content;  border-radius: 21px 21px 0 0;">  <p class="lead  pt-3 ps-3 pe-3">IATSAT is operating world class research & development centre in India&further collaborating with universities & academician across the globe. </p>
               <p class=" lead  pt-1 ps-3 pe-3"> Technical Advisory Groups from industry & education institutions, comprising experts from the entire domain, also provides feedback; advice and critical assessment. We also conduct the various independent researches on time to time.</p>
               <p class=" lead  pt-1 ps-3 pe-3"> Every year we are preparing more the 25, 000,00 questions for the exam which further reviewed and then provided to the technical team.</p>
              </div>
            </div>

          </div> -->



        <!-- </div>
      </section> -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs') -%>
     </body>
     </html>
