<%- include('partials/default.ejs') -%>
</head>
<body>
  <%- include('partials/header.ejs') -%>
    <!-- ======= Hero Section ======= -->

    <section id="hero">
      <!-- <div class="container"> -->

      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="hero-container">
          <h1 class="display-5 big-text ">IATSAT</h1>
          <h2  class="display-5 text-b head-i" data-aos="zoom-in">
            <div class="head-i">Bringing Innovation in </div><div class="d-block head-i"> <span class="type head-i" ></span></div>
          </h2>
          <div class="btn-group btn-g">
            <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="/#iatsat"
          class="btn-get-started scrollto"
          >Get Started</a
        >
        <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="/login"
          class="btn-get-started scrollto"
          >Login</a
        >
          </div>

        </div>
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">



          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(img/background.jpg) ">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(img/social.jpg)">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(img/more.jpg) ">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

        </div>


        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
      <!-- </div> -->
    </section><!-- End Hero -->

    <!-- <section id="hero">
      <div class="hero-container">
        <a href="/" class="hero-logo" data-aos="zoom-in"
          ><img src="img/logo.jpg"
        /></a>
        <h1  class="display-4" data-aos="zoom-in">
          Bringing Innovation in <span class="type"></span>
        </h1>
        <h2 data-aos="fade-up">We are team of talented designers making websites with Bootstrap</h2>
        <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="#about"
          class="btn-get-started scrollto"
          >Get Started</a
        >
      </div>
    </section> -->
    <!-- End Hero -->
    <!-- ======= Header ======= -->


    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="iatsat" class="iatsat">
        <div class="container">
          <div class="section-title " data-aos="fade-up" >
            <h1 class="display-5 col-white">IATSAT</h1>
            <p class="lead col-white">Inspiration • Innovation • Discovery </p>
          </div>

          <div class="row">
            <div class="col-lg-12   mb-2" data-aos="fade-right">
              <div class="  ">
                <p class="lead fw-bolder col-white text-center">Any success, starts with good education.<br> Together with us you will have deeper knowledge of the subjects that will be especially useful for you when climbing the career ladder.</p>
              </div>
            </div>
          </div>
          <div class="row ">

            <div class="col-lg-6 default-box" data-aos="fade-left" >
              <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                <div class=" border-s">
                  <p class="lead ">
                    The Higher education system across the globe for international & local students is neither at right place nor right pace. Universities are facing problems through their channel partners. The local and international students face problems every day and without proper mentorship the dropout is increasing day by day. International students are even at greater risk of failure & its leading to the skill shortage across the globe which is affecting the world economy indirectly.
                  </p>
                </div>
              </div>
            </div>
            <div  class="col-lg-6 default-box" data-aos="fade-left">
              <div class="content  pt-lg-0 pl-0 pl-lg-3 ">

                  <div class="border-s" >
                    <h3 class=" text-center">What is IATSAT?</h3>
                    <p class="lead ">
                      IATSAT (International Accredited Talent Scholarship Admission
                      Test) is a product of one alphabet educational society is world’s
                      first 100% philanthropy EduTech company based in India &
                      Australia, bringing Innovation in education & social
                      development.
                    </p>

                </div>

              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End About Us Section -->


      <section class="row d-lg-flex mission" id="mission">
        <div class="container d-lg-flex">
        <div class="col-lg-6 col-md-12 bg-blue d-lg-flex" data-aos="fade-right">
          <div class="content d-lg-flex flex-column  pt-lg-0 pl-0 pt-5">
            <div class="image pt-5">
              <img src="img/target.svg"  alt="target-svg" srcset="">
            </div>
            <h2 class="text-center display-5 fs-2 left-head">Mission</h2>
            <p class="lead max-w">
              Our mission is to empower the community with exponential growth of
              resource-based learning, based on a sense of developing
              economic independence in Education. We aim to work directly
              with the schools and students to achieve this objective.

            </p>
          </div>
        </div>


        <div class="col-lg-6 col-md-12 bg-red d-lg-flex" data-aos="fade-left">
          <div class="content d-lg-flex flex-column mt-auto pt-4 pt-lg-0 pl-0 pb-5">
            <div class="image ">
              <img src="img/vision.svg"  alt="target-svg" srcset="">
            </div>
            <h2 class="text-center display-5 fs-2 right-head">Vision</h2>

            <p class="lead d-flex mt-auto flex-column">
              Our vision is shaping global priorities for the future with a
              belief of experiential learning for the comprehensive role and
              scope of education. We have the vision of free quality
              education for every sector of society. We have envisioned a society where
              individuals and entire communities have access to the
              knowledge, resources and opportunities necessary to build a
              more prosperous future.
            </p>

            </div>
            </div>
          </div>
      </section>




      <!-- Services section -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h1 class="display-5 col-white">Product & Services</h1>
          </div>

          <div class="service-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper mb-2 ">


              <div class="swiper-slide col-lg-12">
                <div class="d-lg-flex flex-column justify-content-between border-s">
                  <div>
                    <h2 class="display-5 fs-2 text-center">OLYMPIAD</h2>

                    <p class="lead ">An Olympiad represents opportunity at all ages. It empowers students with the knowledge,
                      skills and confidence. IATSAT is one of the fastest-growing Olympiad amongst the students and academic
                      fraternity. Our Olympiad is designed to identify the best talent across the globe & nurture them for
                      better future. </p>
                  </div>
                  <div class="mx-auto d-block text-center">
                    <a href="/olympiad" class="btn-more ">Read More</a>
                  </div>
                </div>

              </div><!-- End service item -->

              <div class="swiper-slide col-lg-12">

                <div class=" border-s d-lg-flex flex-column justify-content-between">
                  <div>
                    <h2 class="display-5 fs-2 text-center">LMS</h2>
                    <p class="lead ">
                      Our LMS is not your average online learning platform, It’s a unified education delivery system which one
                      can access from anywhere anytime. We have combined world-class educational content and assessment,
                      powered
                      by services and technology, to enable more effective teaching and personalized learning at scale,
                      Develop
                      in one-stop vibrant platform & ecosystem for all students.
                    </p>
                  </div>
                  <div class="mx-auto d-block text-center">
                    <a href="/lms" class="btn-more ">Read More</a>
                  </div>

                </div>
              </div><!-- End service item -->

              <div class="swiper-slide col-lg-12">

                <div class="border-s d-lg-flex flex-column justify-content-between">
                  <div>
                    <h2 class="display-5 fs-2 text-center">Virtual University</h2>
                    <p class="lead ">
                      Building world 100 prestigious universities integrated campus under IATSAT virtual university. You can
                      achieve your Degree from multiple universities in single academic year. Our promise is to bring
                      innovation
                      & top notch research in education Domain.
                    </p>
                  </div>
                  <div class="mx-auto d-block  text-center">
                    <a href="/virtual" class="btn-more ">Read More</a>
                  </div>

                </div>
              </div><!-- End service item -->

              <div class="swiper-slide col-lg-12">

                <div class=" border-s d-lg-flex flex-column justify-content-between">
                  <div>
                    <h2 class="display-5 fs-2 text-center">Learning with fun</h2>
                    <p class="lead ">
                      world’s first research based platform where one can get all the resources free of cost .we are committed
                      to
                      bring more than ten thousand universities & twenty thousand schools where our content will be developed.
                      This
                      will help us to achieve our mission 2035.
                    </p>
                  </div>
                  <div class="mx-auto d-block  text-center">
                    <a href="/login" class="btn-more ">Read More</a>
                  </div>

                </div>
              </div><!-- End service item -->

              <div class="swiper-slide col-lg-12">

                <div class="border-s d-lg-flex flex-column justify-content-between">
                  <div>
                    <h2 class="display-5 fs-2 text-center">Global Assesment</h2>
                    <p class="lead ">
                      IATSAT global is developed through careful research and analysis to cater the students who are looking to study across the globe. This is world’s first 100% end to end assessment which provides complete solution to the universities as well as students.
                    </p>
                  </div>
                  <div class="mx-auto d-block  text-center">
                    <a href="/global" class="btn-more ">Read More</a>
                  </div>

                </div>
              </div><!-- End section item -->

            </div>
            <div class="swiper-pagination "></div>
            <!-- <div class="swiper-button-prev"></div> -->
            <div class="swiper-button-next"></div>
          </div>

        </div>
      </section><!-- End Services Section -->


      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 class="display-5">Team</h1>
            <p class="lead">THE TEAM YOU CAN TRUST</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in">
                <div class="member-img">
                  <img
                    src="img/team/ravin-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a target="_blank_" href="https://www.linkedin.com/in/ravin-dutt-7a325515/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center">Ravin Dutt</h4>
                  <span class="text-center">Founder & CEO</span>
                  <!-- <p class="lead">
                    Animi est delectus alias quam repellendus nihil nobis dolor.
                    Est sapiente occaecati et dolore. Omnis aut ut nesciunt
                    explicabo qui. Eius nam deleniti ut omnis
                  </p> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in" data-aos-delay="100">
                <div class="member-img">
                  <img
                    src="img/team/manpreet-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a href="https://www.linkedin.com/in/drmanna/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center">Manpreet Manna</h4>
                  <span class="text-center">Honorary Director</span>
                  <!-- <p class="lead">
                    Aspernatur iste esse aliquam enim et corporis. Molestiae
                    voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                    eos rerum non doloremque
                  </p> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                  <img
                    src="img/team/anil-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center "> Anil Prakash Joshi</h4>
                  <span class="text-center">Honorary Director</span>
                  <!-- <p class="lead">
                    Ut enim possimus nihil cupiditate beatae. Veniam facere quae
                    non qui necessitatibus rerum eos vero. Maxime sit sunt quo
                    dolor autem est qui quaerat
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->


    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <%- include('partials/footer.ejs') -%>
  </body>
  </html>
