<%- include('partials/default.ejs') -%>
<link rel="stylesheet" href="css/mission.css"/>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs') -%>
    <!-- End Header -->
    <main id="main">
       <section id="mission-page" class="mission-page">
        <div class="back-i d-lg-flex ">
          <div class=" banner d-flex flex-column ">
              <h2 class="display-5 fw-normal">Mission 2035</h2>
              <p class="lead col-accent"><span class="points"> Dream Big, Achieve More</p>
            </div>
      </div>
        <div class="container">
          

          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <p class="lead">
                Education is an essential element of our 2035 programme. Despite
                the scope of these global commitments and the expected
                achievements, there is still an urgent need to look beyond this
                fast-approaching horizon. While IATSAT lays out a road map for
                the transformation of education systems and affirms a central
                commitment to inclusion and equity, we must still ask what
                education might yet become – and what education might yet enable
                us to become. We have envisioned a society where individuals and
                entire communities have access to the knowledge, resources and
                opportunities necessary to build a more prosperous future.
              </p>
              <!-- <a href="/mission" class="btn-more">Read More</a> -->
            </div>
            <div
              class="image col-lg-6 order-1 order-lg-1"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <img src="img/missions.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs') -%>
  </body>
</html>
