<%- include('partials/default.ejs') -%>
  <link rel="stylesheet" href="css/mission.css"/>
  <link rel="stylesheet" href="css/olympiad.css"/>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs') -%>
    <!-- End Header -->

    <main id="main">
      <section id="olympiad-s" class="olympiad-s">
        <div class="back-i d-lg-flex ">
          <div class=" banner d-flex flex-column ">
              <h2 class="display-5 fw-normal">Olympiad</h2>
              <p class="lead col-accent"><span class="points"> The longer you wait for future the shorter it will be.</p>
            </div>
      </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
              <div class="image">
                <img src="img/olym.jpeg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-6" data-aos="zoom-in">

              <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3">
                <!-- <h2 class="text-center">Mission</h2> -->
                <p class="lead">
                  Here at IATSAT we help students to compete with students on a
                  similar educational level with clarity of concepts. It helps
                  to identify a child's capability and real potential that will
                  help him survive better in today's competitive world. Our
                  Olympiads motivate students to endeavour for better and deeper
                  understanding of scientific and rational facts so as to
                  enhance their reasoning, analytical and problem solving
                  skills.We have designed our Olympiad keeping a futuristic
                  approach in mind that will also help the student to prepare
                  themselves better for further competitive exams .
                </p>
                <p class="fw-bold lead">
                  IATSAT believes in creating a community of lifelong learners,
                  responsible global citizens, and champions of our own success
                </p>
                <a href="/studentregistration" class="btn-get-started btn-block ">Register Self</a>
                <a href="/schoolregistration" class="btn-get-started btn-block">Register Institute</a>
                <a href="/testlogin" class="btn-get-started btn-block">Olympiad Test</a>
              </div>
            </div>
          </div>


          <div class="row pt-5">
            <div class="col-lg-6 order-lg-2 order-md-1 " data-aos="fade-right">
              <div class="image">
                <img src="img/lev.jpeg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-6 blue-bi" data-aos="zoom-in">
              <section id="lev" class="lev">
                <div class="container">

                  <div class="pb-3">
                    <h3 class="display-4 fs-2">
                      The IATSAT is divided into National and International Olympiad
                    </h3>
                    <ul>

                        <li class="lead pb-2">
                          <i class="bi bi-caret-right-fill"></i>Junior Olympiad (grade 3
                          to 9)
                        </li>


                        <li class="lead pb-2">
                          <i class="bi bi-caret-right-fill"></i>Young Mind Olympiad
                          (grade10 to 12)
                        </li>

                    </ul>
                  </div>


                    <h3  class="display-4 fs-2">Levels of  Olympiads</h3>
                    <!-- <h3>Frequently Asked <span>Questions</span></h3> -->


                  <ul class="lev-list pt-3">

                    <li>
                      <div data-bs-toggle="collapse" class="collapsed question" href="#lev1">State level<i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                      <div id="lev1" class="collapse" data-bs-parent=".lev-list">
                        <p>
                          Students can register through their school OR our portal.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div data-bs-toggle="collapse" href="#lev2" class="collapsed question">Zonal level <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                      <div id="lev2" class="collapse" data-bs-parent=".lev-list">
                        <p>
                          Selected students from state level will be participating at zonal level.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div data-bs-toggle="collapse" href="#lev3" class="collapsed question">National level  <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                      <div id="lev3" class="collapse" data-bs-parent=".lev-list">
                        <p>
                          Selected students from zonal level will be participating at National level in a group.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div data-bs-toggle="collapse" href="#lev4" class="collapsed question"> International level <i class="bi bi-plus-lg icon-show"></i><i class="bi bi-dash-lg icon-close"></i></div>
                      <div id="lev4" class="collapse" data-bs-parent=".lev-list">
                        <p>
                          Top five teams from National level will be participating at International level along with participants from sixty Countries.
                        </p>
                      </div>
                    </li>



                  </ul>

                </div>
              </section><!-- End level Section -->


            </div>
          </div>
          <div class="row pt-5">
            <div ><h3 class="  pb-3 display-5 text-center"> Our Focus</h3></div>
            <!-- <div class="col-lg-6">
              <div class="image">
                <img src="img/focus-s.jpg" class="img-fluid" alt="" />
              </div>
            </div> -->
            <div class="col-lg-6 blue-bi pb-5">
              <div class="image">
                <img src="img/focus.jpg" alt="" class="img-fluid align-items-center mx-auto d-block" style="max-height: 500px;">
              </div>
            </div>
            <div class="col-lg-6 blue-bi pb-5 ">
             
              <ul>

                <li class="pb-2 lead ">
                  <i class="bi bi-megaphone-fill"></i> Listening Skills
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-cpu-fill"></i> Science
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-spellcheck"></i> English
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-dice-5-fill"></i> Arithmetic
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-puzzle-fill"></i> Logical Reasoning
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-vector-pen"></i>Verbal Ability
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-question-circle-fill"></i> General Knowledge.
                </li>
              </h5>


                <li class="pb-2 lead alt">
                  <i class="bi bi-hourglass-split"></i> Life Skills
                </li>


                <li class="pb-2 lead">
                  <i class="bi bi-cash-coin"></i> Marketing Skills.
                </li>

            </ul>

            </div>
            </div>
            <div class="row pt-5">
              <div><h3 class=" pb-3 display-5 text-center">Our Achievements</h3></div>
              <div class="col-lg-6 blue-bi pb-5">
                <div class="image">
                  <img src="img/achieve.jpg" alt="" class="img-fluid align-items-center d-block mx-auto" style="max-height: 450px;">
                </div>
              </div>

          <div class="col-lg-6 blue-bi ">
              
              <ul>

                <li class="pb-2 lead">
                  <i class="bi bi-people-fill"></i> 10 lakh+ students
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-shop " ></i>1000+ Schools
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-cash-stack"></i>Crores worth prizes
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-ui-checks "></i> 2 categories
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-water"></i>4 levels
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-flag-fill"></i>60+countries
                </li>



            </ul>

            </div>
          </div>

<!--
          <div class="row pt-5">
            <div class="col-lg-6 order-lg-2 order-2">
              <div class="image">
                <img src="img/achieve-s.jpg" class="img-fluid" alt="" />
              </div>
            </div>

          </div> -->

          <div class="row pt-5">
            <div><h3 class=" pb-3 display-5 text-center">Rewards and Prizes (For winners and runner up)</h3></div>
              <div class="col-lg-6 blue-bi pb-5">
                <div class="image">
                  <img src="img/rewards.jpg" alt="" class="img-fluid align-items-center d-block mx-auto" style="max-height: 450px;">
                </div>
              </div>
            <div class="col-lg-6 last-one pb-5 blue-bi">
              <!-- <div><h3 class=" fs-2 pb-3 display-4 text-center"> <i class="bi bi-award-fill"></i>Rewards and Prizes (For winners and runner up)</h3></div> -->
              <ul>

                <li class="pb-2 lead">
                  <i class="bi bi-cash"></i> Cash prize of One Crore
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-laptop"></i> Gadgets worth of one crore.
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-gift-fill"></i> Crores worth prizes
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-receipt-cutoff"></i> Trophy and certificates of excellence
                </li>



                <li class="pb-2 lead">
                  <i class="bi bi-person-badge"></i> Free mentorship programme up-to five years.
                </li>



                <li class="pb-2 lead alt">
                  <i class="bi bi-person-check-fill"></i>Become IATSAT’S global ambassador for two years.
                </li>



            </ul>

            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs') -%>
  </body>
</html>
