<%- include('partials/default.ejs') -%>
</head>
<body>
  <%- include('partials/header.ejs') -%>
    <!-- ======= Hero Section ======= -->

    <section id="hero">
      <!-- <div class="container"> -->

      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="hero-container">
          <h1 class="display-5 big-text ">IATSAT</h1>
          <h2  class="display-5 text-b head-i" data-aos="zoom-in">
            <div class="head-i">Bringing Innovation in </div><div class="d-block head-i"> <span class="type head-i" ></span></div>
          </h2>
          <div class="btn-group btn-g">
            <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="/#iatsat"
          class="btn-get-started scrollto"
          >Get Started</a
        >
        <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="/login"
          class="btn-get-started scrollto"
          >Login</a
        >
          </div>

        </div>
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">



          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(img/background.jpg) ">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(img/social.jpg)">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(img/more.jpg) ">
            <!-- <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Bringing Innovation in <span class="type"></span></h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div> -->
          </div>

        </div>


        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
      <!-- </div> -->
    </section><!-- End Hero -->

    <!-- <section id="hero">
      <div class="hero-container">
        <a href="/" class="hero-logo" data-aos="zoom-in"
          ><img src="img/logo.jpg"
        /></a>
        <h1  class="display-4" data-aos="zoom-in">
          Bringing Innovation in <span class="type"></span>
        </h1>
        <h2 data-aos="fade-up">We are team of talented designers making websites with Bootstrap</h2>
        <a
          data-aos="fade-up"
          data-aos-delay="200"
          href="#about"
          class="btn-get-started scrollto"
          >Get Started</a
        >
      </div>
    </section> -->
    <!-- End Hero -->
    <!-- ======= Header ======= -->


    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="iatsat" class="iatsat">
        <div class="container">
          <div class="section-title " data-aos="fade-up" >
            <h1 class="display-5 col-white">IATSAT</h1>
            <p class="lead col-white">Inspiration • Innovation • Discovery </p>
          </div>

          <div class="row">
            <div class="col-lg-12   mb-5" data-aos="fade-right">
              <div class="  ">
                <p class="lead fw-bolder col-white text-center">Any success, starts with good education.<br> Together with us you will have deeper knowledge of the subjects that will be especially useful for you when climbing the career ladder.</p>
              </div>
            </div>
          </div>
          <div class="row ">
            
            <div class="col-lg-6" data-aos="fade-left">
              <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                <div class=" border-s">
                  <p class="lead ">
                    The Higher education system across the globe for international & local students is neither at right place nor right pace. Universities are facing problems through their channel partners. The local and international students face problems every day and without proper mentorship the dropout is increasing day by day. International students are even at greater risk of failure & its leading to the skill shortage across the globe which is affecting the world economy indirectly.
                  </p>
                </div>
              </div>
            </div>
            <div  class="col-lg-6" data-aos="fade-left">
              <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                
                  <div class="border-s" >
                    <h3 class=" text-center">What is IATSAT?</h3>
                    <p class="lead ">
                      IATSAT (International Accredited Talent Scholarship Admission
                      Test) is a product of one alphabet educational society is world’s
                      first 100% philanthropy EduTech company based in India &
                      Australia, bringing Innovation in education & social
                      development. 
                    </p>
                  
                </div>
               
              </div>
            </div>
         
          </div>
        </div>
      </section>
      <!-- End About Us Section -->


      <section class="row d-lg-flex mission">
        <div class="container d-lg-flex">
        <div class="col-lg-6 col-md-12 bg-blue d-lg-flex" data-aos="fade-right">
          <div class="content d-lg-flex flex-column pt-4 pt-lg-0 pl-0 ">
            <div class="image ">
              <img src="img/target.svg"  alt="target-svg" srcset="">
            </div>
            <h2 class="text-center display-5 fs-2 left-head">Mission</h2>
            <p class="lead max-w">
              Our mission is to empower the community with exponential growth of
              resource-based learning, based on a sense of developing
              economic independence in Education. We aim to work directly
              with the schools and sturdents to achieve this objective.

            </p>
          </div>
        </div>


        <div class="col-lg-6 col-md-12 bg-red d-lg-flex" data-aos="fade-left">
          <div class="content d-lg-flex flex-column mt-auto pt-4 pt-lg-0 pl-0 ">
            <div class="image ">
              <img src="img/vision.svg"  alt="target-svg" srcset="">
            </div>
            <h2 class="text-center display-5 fs-2 right-head">Vision</h2>

            <p class="lead d-flex mt-auto flex-column">
              Our vision is shaping global priorities for the future with a
              belief of experiential learning for the comprehensive role and
              scope of education. We have the vision of free quality
              education for every sector of society. We have envisioned a society where
              individuals and entire communities have access to the
              knowledge, resources and opportunities necessary to build a
              more prosperous future.
            </p>

            </div>
            </div>
          </div>
      </section>

      <!-- <section id="mission">
        <div class="left-blue"></div>
        <div class="right-red"></div>
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 class="display-5">Mission & Vision</h1>
          </div>
          <div class="row">

            <div class="col-lg-6" data-aos="zoom-in">
              <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3">
                <h2 class="text-center display-5 fs-2 left-head">Mission</h2>
                <p class="lead">
                  Education is an essential element of our 2035 programme.
                  Despite the scope of these global commitments and the expected
                  achievements, there is still an urgent need to look beyond
                  this fast-approaching horizon. While IATSAT lays out a road
                  map for the transformation of education systems and affirms a
                  central commitment to inclusion and equity, we must still ask
                  what education might yet become – and what education might yet
                  enable us to become. We have envisioned a society where
                  individuals and entire communities have access to the
                  knowledge, resources and opportunities necessary to build a
                  more prosperous future.
                </p>
              </div>
            </div>


            <div class="col-lg-6 " data-aos="zoom-in">
              <div class="content  pt-4 pt-lg-0 pl-0 pl-lg-3">
                <h2 class="text-center display-5 fs-2 right-head">Vision</h2>

                <p class="lead d-flex mt-auto flex-column">
                  Our vision is shaping global priorities for the future with a
                  belief of experiential learning for the comprehensive role and
                  scope of education.We have the vision of free quality
                  education for every sector of society. With this mission of
                  empowering the community with exponential growth of
                  resource-based learning, based on a sense of developing
                  economic independence in Education. We aim to work directly
                  with the schools to achieve this objective. We also believe in
                  taking the feedback of parents and students which recognizes
                  diversity of opinion found in the community.IATSAT is
                  providing top-notch holistic education with a broad
                  participative and balanced curriculum. IATSAT is building and
                  connecting some of the best products in the educational
                  domain, portable and accessible across the globe.
                </p>

                </div>
                </div>
          </div>


            </div>
          </div>
          </div>
          </section> -->

          <section id="tabs" class="tabs">
            <div class="container" data-aos="fade-up">
              <div class="section-title" data-aos="fade-up">
                <h1 class="display-5">Products & Services</h1>
              </div>
              <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3">
                  <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                    <i class="ri-gps-line"></i>
                    <h4 class="d-none d-lg-block">Olympiads</h4>
                  </a>
                </li>
                <li class="nav-item col-3">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                    <i class="ri-body-scan-line"></i>
                    <h4 class="d-none d-lg-block">Virtual University</h4>
                  </a>
                </li>
                <li class="nav-item col-3">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                    <i class="ri-sun-line"></i>
                    <h4 class="d-none d-lg-block">Learning Management System</h4>
                  </a>
                </li>
                <li class="nav-item col-3">
                  <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                    <i class="ri-store-line"></i>
                    <h4 class="d-none d-lg-block">Learning with Fun</h4>
                  </a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8  col-md-12 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                      <h3>Olympiads</h3>
                      <!-- <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                      <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                      </ul> -->
                      <p class="lead fw-bold">Early exposure to learning and competition builds confidence and
                        sharpens skills which raise your level from others.. </p>
                      <p class="lead">
                        Our
                        olympiads are designed with an aim to cultivate scientific
                        reasoning and logical ability among the students through a
                        rigorous test. It will enhance the skill of understanding the
                        application of concepts, which will help you in future.our
                        courses included science, maths, arts, management and other
                        subjects.
                      </p>
                      
                    </div>
                    <div class="col-lg-4 col-md-12 d-lg-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                      <div class="">
                      <a href="/olympiad" class="btn-more left-i">Read More</a>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0">
                      <h3>Virtual University</h3>
                      <!-- <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                      </p>
                      <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p> -->
                      <!-- <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                      </ul> -->
                      <div class="image-i">
                        <img src="img/coming.png" class="img-fluid" alt="">
                      </div>
                    </div>
                    <!-- <div class="col-lg-6 order-1 order-lg-2 text-center">
                      <img src="img/olm.jpg" alt="" class="img-fluid">
                    </div> -->
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0">
                      <h3>Learning Management System</h3>
                      <!-- <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                      </p>
                      <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                      </ul>
                      <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                      <img src="img/olm.jpg" alt="" class="img-fluid"> -->
                      <div class="image-i">
                        <img src="img/coming.png" class="img-fluid" alt="">
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0">
                      <h3>Learning With Fun</h3>
                      <!-- <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum
                      </p>
                      <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                      <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                      </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                      <img src="img/olm.jpg" alt="" class="img-fluid"> -->
                      <div class="image-i">
                        <img src="img/coming.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section><!-- End Tabs Section -->



          <section id="services" class="services">
            <div class="container">
              <div class="section-title " data-aos="fade-up" >
                <h1 class="display-5 col-white">Products & Services</h1>
                
              </div>
    
              
              <div class="row row-eq-height">
                
                <div class="col-lg-3" data-aos="fade-left">
                  <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                    <div class=" border-s">
                      <h2 class="display-5 fs-2 text-center">OLYMPIAD</h2>
                      <p class="lead ">
                        <p class="lead ">An Olympiad represents opportunity at all ages. It empowers students with the knowledge, skills and confidence. IATSAT is one of the fastest-growing Olympiad amongst the students and academic fraternity. Our Olympiad is designed to identify the best talent across the globe & nurture them for better future. </p>
                        <!-- <p class="lead">
                          Our
                          olympiads are designed with an aim to cultivate scientific
                          reasoning and logical ability among the students through a
                          rigorous test. It will enhance the skill of understanding the
                          application of concepts, which will help you in future.our
                          courses included science, maths, arts, management and other
                          subjects.
                        </p> -->
                      </p>
                     
                        <div class="mx-auto d-block bg-red text-center">
                          <a href="/olympiad" class="btn-more ">Read More</a>
                        </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-lg-3" data-aos="fade-left">
                  <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                    <div class=" border-s">
                      <h2 class="display-5 fs-2 text-center">LMS</h2>
                      <p class="lead ">
                        Our LMS is not your average online learning platform, It’s a unified education delivery system which one can access from anywhere anytime. We have combined world-class educational content and assessment, powered by services and technology, to enable more effective teaching and personalized learning at scale, Develop in one-stop vibrant platform & ecosystem for all students. 
                      </p>
                      <div class="mx-auto d-block bg-red text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-lg-3" data-aos="fade-left">
                  <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                    <div class=" border-s">
                      <h2 class="display-5 fs-2 text-center">Virtual University</h2>
                      <p class="lead ">
                        Building world 100 prestigious universities integrated campus under IATSAT virtual university. You can achieve your Degree from multiple universities in single academic year. Our promise is to bring innovation & top notch research in education Domain.  
                      </p>
                      <div class="mx-auto d-block bg-red text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-lg-3" data-aos="fade-left">
                  <div class="content  pt-lg-0 pl-0 pl-lg-3 ">
                    <div class=" border-s">
                      <h2 class="display-5 fs-2 text-center">Learn with fun</h2>
                      <p class="lead ">
                        world’s first research based platform where one can get all the resources free of cost .we are committed to bring more than ten thousand  universities & twenty thousand schools where our content will be developed. This will help us to achieve our mission 2035.   
                      </p>
                      <div class="mx-auto d-block bg-red text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
    
                
             
              </div>
            </div>
          </section>

          <section id="services" class="services">
            <div class="container">
          
              <div class="section-title">
                <h1 class="display-5 col-white">Product & Services</h1>
              </div>
          
              <div class="service-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper mb-3 ">
                  
          
                  <div class="swiper-slide col-lg-12">
                    <div class="d-lg-flex flex-column justify-content-between border-s">
                      <div>
                        <h2 class="display-5 fs-2 text-center">OLYMPIAD</h2>
          
                        <p class="lead ">An Olympiad represents opportunity at all ages. It empowers students with the knowledge,
                          skills and confidence. IATSAT is one of the fastest-growing Olympiad amongst the students and academic
                          fraternity. Our Olympiad is designed to identify the best talent across the globe & nurture them for
                          better future. </p>
                      </div>
                      <div class="mx-auto d-block text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
                    </div>
          
                  </div><!-- End testimonial item -->
          
                  <div class="swiper-slide col-lg-12">
          
                    <div class=" border-s d-lg-flex flex-column justify-content-between">
                      <div>
                        <h2 class="display-5 fs-2 text-center">LMS</h2>
                        <p class="lead ">
                          Our LMS is not your average online learning platform, It’s a unified education delivery system which one
                          can access from anywhere anytime. We have combined world-class educational content and assessment,
                          powered
                          by services and technology, to enable more effective teaching and personalized learning at scale,
                          Develop
                          in one-stop vibrant platform & ecosystem for all students.
                        </p>
                      </div>
                      <div class="mx-auto d-block text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
          
                    </div>
                  </div><!-- End testimonial item -->
          
                  <div class="swiper-slide col-lg-12">
          
                    <div class="border-s d-lg-flex flex-column justify-content-between">
                      <div>
                        <h2 class="display-5 fs-2 text-center">Virtual University</h2>
                        <p class="lead ">
                          Building world 100 prestigious universities integrated campus under IATSAT virtual university. You can
                          achieve your Degree from multiple universities in single academic year. Our promise is to bring
                          innovation
                          & top notch research in education Domain.
                        </p>
                      </div>
                      <div class="mx-auto d-block  text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
          
                    </div>
                  </div><!-- End testimonial item -->
          
                  <div class="swiper-slide col-lg-12">
          
                    <div class=" border-s d-lg-flex flex-column justify-content-between">
                      <div>
                        <h2 class="display-5 fs-2 text-center">Learning with fun</h2>
                        <p class="lead ">
                          world’s first research based platform where one can get all the resources free of cost .we are committed
                          to
                          bring more than ten thousand universities & twenty thousand schools where our content will be developed.
                          This
                          will help us to achieve our mission 2035.
                        </p>
                      </div>
                      <div class="mx-auto d-block  text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
          
                    </div>
                  </div><!-- End testimonial item -->
          
                  <div class="swiper-slide col-lg-12">
          
                    <div class="border-s d-lg-flex flex-column justify-content-between">
                      <div>
                        <h2 class="display-5 fs-2 text-center">Global Assesment</h2>
                        <p class="lead ">
                          IATSAT global is developed through careful research and analysis to cater the students who are looking to study across the globe. This is world’s first 100% end to end assessment which provides complete solution to the universities as well as students.
                        </p>
                      </div>
                      <div class="mx-auto d-block  text-center">
                        <a href="/olympiad" class="btn-more ">Read More</a>
                      </div>
          
                    </div>
                  </div><!-- End testimonial item -->
          
                </div>
                <div class="swiper-pagination "></div>
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
              </div>
          
            </div>
          </section><!-- End Services Section -->


          <section id="services">
            <div class="container">
              <div class="section-title">
                <h1 class="display-5 col-white">Product & Services</h1>
              </div>
              <div class="row ">
                <div class="  col-lg-3  ">
                  <div class="upper  d-lg-flex flex-column justify-content-between border-s">
                    <div>
                      <h2 class="display-5 fs-2 text-center">OLYMPIAD</h2>
                      <p class="lead ">
                      <p class="lead ">An Olympiad represents opportunity at all ages. It empowers students with the knowledge,
                        skills and confidence. IATSAT is one of the fastest-growing Olympiad amongst the students and academic
                        fraternity. Our Olympiad is designed to identify the best talent across the globe & nurture them for
                        better future. </p>
          
                      </p>
                    </div>
                    <div class="mx-auto d-block text-center">
                      <a href="/olympiad" class="btn-more ">Read More</a>
                    </div>
                  </div>
                </div>
          
                <div class=" col-lg-3 ">
                  <div class="upper border-s d-lg-flex flex-column justify-content-between">
                    <div>
                      <h2 class="display-5 fs-2 text-center">LMS</h2>
                      <p class="lead ">
                        Our LMS is not your average online learning platform, It’s a unified education delivery system which one
                        can access from anywhere anytime. We have combined world-class educational content and assessment, powered
                        by services and technology, to enable more effective teaching and personalized learning at scale, Develop
                        in one-stop vibrant platform & ecosystem for all students.
                      </p>
                    </div>
                    <div class="mx-auto d-block text-center">
                      <a href="/olympiad" class="btn-more ">Read More</a>
                    </div>
                  </div>
                </div>
                <div class=" col-lg-3   ">
                  <div class="upper border-s d-lg-flex flex-column justify-content-between">
                    <div>
                      <h2 class="display-5 fs-2 text-center">Virtual University</h2>
                      <p class="lead ">
                        Building world 100 prestigious universities integrated campus under IATSAT virtual university. You can
                        achieve your Degree from multiple universities in single academic year. Our promise is to bring innovation
                        & top notch research in education Domain.
                      </p>
                    </div>
                    <div class="mx-auto d-block text-center">
                      <a href="/olympiad" class="btn-more ">Read More</a>
                    </div>
                  </div>
                </div>

                <div class=" col-lg-3   ">
                  <div class="upper border-s d-lg-flex flex-column justify-content-between">
                    <div>
                      <h2 class="display-5 fs-2 text-center">Learning with fun</h2>
                      <p class="lead ">
                        world’s first research based platform where one can get all the resources free of cost .we are committed to bring more than ten thousand  universities & twenty thousand schools where our content will be developed. This will help us to achieve our mission 2035.   
                      </p>
                    </div>
                    <div class="mx-auto d-block  text-center">
                      <a href="/olympiad" class="btn-more ">Read More</a>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </section>
          
      <!-- ======= Services Section ======= -->

      <!-- End Services Section -->
      <!-- <section id="olympiad" class="olympiad">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2 class="display-5">Olympiads</h2> -->
            <!-- <p class="lead">Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p> -->
          <!-- </div> -->

          <!-- <div class="row">
            <div class="col-lg-6 order-2 order-lg-2">
              <p class="lead">
                Early exposure to learning and competition builds confidence and
                sharpens skills which raise your level from others.. Our
                olympiads are designed with an aim to cultivate scientific
                reasoning and logical ability among the students through a
                rigorous test. It will enhance the skill of understanding the
                application of concepts, which will help you in future.our
                courses included science, maths,arts,management and other
                subjects.
              </p>

            </div>
            <div
              class="image col-lg-6 order-1 order-lg-1"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <img src="img/oly.jpg" class="img-fluid" />
            </div>
          </div> -->
        <!-- </div>
      </section> -->
      <!-- End Services Section -->

      <!-- <section id="mission" class="mission dark">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2 class="display-5">Mission'35</h2>
            <p class="lead">Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
          </div>

          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <p class="lead">
                Education is an essential element of our 2035 programme. Despite
                the scope of these global commitments and the expected
                achievements, there is still an urgent need to look beyond this
                fast-approaching horizon. While IATSAT lays out a road map for
                the transformation of education systems and affirms a central
                commitment to inclusion and equity, we must still ask what
                education might yet become – and what education might yet enable
                us to become. We have envisioned a society where individuals and
                entire communities have access to the knowledge, resources and
                opportunities necessary to build a more prosperous future.
              </p>
              <a href="/mission" class="btn-more">Read More</a>
            </div>
            <div
              class="image col-lg-6 order-1 order-lg-1"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <img src="img/missions.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Services Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 class="display-5">Team</h1>
            <p class="lead">THE TEAM YOU CAN TRUST</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in">
                <div class="member-img">
                  <img
                    src="img/team/ravin-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a target="_blank_" href="https://www.linkedin.com/in/ravin-dutt-7a325515/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center">Ravin Dutt</h4>
                  <span class="text-center">Founder & CEO</span>
                  <!-- <p class="lead">
                    Animi est delectus alias quam repellendus nihil nobis dolor.
                    Est sapiente occaecati et dolore. Omnis aut ut nesciunt
                    explicabo qui. Eius nam deleniti ut omnis
                  </p> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in" data-aos-delay="100">
                <div class="member-img">
                  <img
                    src="img/team/manpreet-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a href="https://www.linkedin.com/in/drmanna/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center">Manpreet Manna</h4>
                  <span class="text-center">Honorary Director</span>
                  <!-- <p class="lead">
                    Aspernatur iste esse aliquam enim et corporis. Molestiae
                    voluptatem aut eligendi quis aut. Libero vel amet voluptatem
                    eos rerum non doloremque
                  </p> -->
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="member mx-auto" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                  <img
                    src="img/team/anil-s.jpg"
                    class="img-fluid rounded-circle"
                    alt=""
                  />
                  <div class="social">
                    <!-- <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a> -->
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 class="fc-dark text-center "> Anil Prakash Joshi</h4>
                  <span class="text-center">Honorary Director</span>
                  <!-- <p class="lead">
                    Ut enim possimus nihil cupiditate beatae. Veniam facere quae
                    non qui necessitatibus rerum eos vero. Maxime sit sunt quo
                    dolor autem est qui quaerat
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->


    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <%- include('partials/footer.ejs') -%>
  </body>
  </html>
