:root{
  --col-acc: rgb(39, 92, 197);
  --col-txt: #222;
  --col-head: #111;
  --color-txt-light : #eaeaea;
  --col-acc-light: rgb(68, 121, 228);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #111;
}

.mission-page .back-i{
  background: url("../img/mission35.jpg") no-repeat center ;
  width: 100%;
  min-height: 500px;

  position: relative;
  height: auto;
  background-size: cover ;
  align-items: flex-end;
  margin-bottom: 30px;
}

.mission-page .back-i .banner{
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  color: white;
  height: 100%;
  position: absolute;
  padding-left: 40px;
  /* width: 50%; */
  top: 0;
  left: 0;
}

/* section{
  padding :60px 0;
} */
ul{
  list-style: none;
}
ul li{
  color: var(--col-txt);

}
@media (max-width: 768px) {
  h2 {
    font-size: 28px !important;
  }
  h1 {
    font-size: 36px !important;
  }
  h3{
    font-size: 24px !important;
  }
  p{
    font-size: 14px !important;
  }
}